/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.06.2019, 16:16:26
    Author     : joerg
*/

.input-int{
    text-align: right;
}

.input-euro{
    text-align: right;
}

.input-prozent{
    text-align: right;
}

.input-zahl{
    text-align: right;
}


.hidden{
    visibility : hidden;
    display: none;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
    align-items: center;
}
.btn-back {
  color: #1F2D3D;
  background-color: #ffc105;
  border-color: #ffc107;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-back:hover {
  color: #1F2D3D;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-cancel {
  color: #1F2D3D;
  background-color: #ffc105;
  border-color: #ffc107;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-cancel:hover {
  color: #1F2D3D;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-create {
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-create:hover {
  color: #ffffff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-delete {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-delete:hover {
  color: #ffffff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-edit {
  color: #ffffff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-edit:hover {
  color: #ffffff;
  background-color: #138496;
  border-color: #117a8b;
}

.btn-reset {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-reset:hover {
  color: #ffffff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-save {
  color: #ffffff;
  background-color: #28a745;
  border-color: #28a745;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-save:hover {
  color: #ffffff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-show {
  color: #1F2D3D;
  background-color: #ffc105;
  border-color: #ffc107;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-show:hover {
  color: #1F2D3D;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-submit {
  color: #ffffff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none;
  margin-right: 0.2rem;
}

.btn-submit:hover {
  color: #ffffff;
  background-color: #138496;
  border-color: #117a8b;
}
